@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-300.woff") format("woff"), url("../fonts/Gilroy-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-400.woff") format("woff"), url("../fonts/Gilroy-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-300.woff") format("woff"), url("../fonts/Gilroy-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-500.woff") format("woff"), url("../fonts/Gilroy-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-500.woff") format("woff"), url("../fonts/Gilroy-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-600.woff") format("woff"), url("../fonts/Gilroy-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-700.woff") format("woff"), url("../fonts/Gilroy-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-600.woff") format("woff"), url("../fonts/Gilroy-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-400.woff") format("woff"), url("../fonts/Gilroy-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-800.woff") format("woff"), url("../fonts/Gilroy-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-800.woff") format("woff"), url("../fonts/Gilroy-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-700.woff") format("woff"), url("../fonts/Gilroy-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
