.catalog {
	&__container {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("gap", toPX(1.81), toPX(1.25), 1);
	}
	&__inner {
		display: flex;
		align-items: center;
		@include adaptiv-value("gap", toPX(1.88), toPX(1.25), 1);

		div {
			width: 100%;
		}
	}

	&__header {
		p {
			text-indent: 2rem;
		}
	}

	&__text {
	}

	&__img-cont {
		overflow: hidden;
	}

	&__image {
		display: flex;
		align-items: center;
		@include adaptiv-value("gap", toPX(1.88), toPX(1.25), 1);
		border-radius: 1.25rem;
		@include adaptiv-value("max-height", toPX(37.5), toPX(18.75), 1);
		overflow: hidden;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		@include adaptiv-value("gap", toPX(1.88), toPX(1.25), 1);

		& > div {
			width: 100%;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0.62rem;
		transition: all 0.8 ease-in-out;

		&.noactive {
			div {
				color: var(--Light-Gray, #aeaeae) !important;
				transition: all 0.8 ease-in-out;
			}

			.catalog__link {
				max-height: 0rem;
				transition: all 0.8 ease-in-out;
			}

			.catalog__line {
				background-color: var(--Light-Gray, #aeaeae) !important;
				transition: all 0.8 ease-in-out;
			}
		}
	}

	&__title {
	}

	&__line {
		height: 0.0625rem;
		background-color: var(--Black, #171717);
	}

	&__link {
		color: #000;
		text-align: right;
		font-family: $font-family;
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		transition: all 0.8 ease-in-out;
		max-height: 1rem;
		overflow: hidden;
	}
}

@include media-width($md) {
	.catalog {
		&__wrapper {
			flex-direction: column;
		}
	}
}
