.footer {
	background-color: $black_color;
	@include adaptiv-value("padding-top", toPX(6.25), toPX(3.12), 1);
	@include adaptiv-value("padding-bottom", toPX(1.88), toPX(1.25), 1);

	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@include adaptiv-value("gap", toPX(3.75), toPX(1.25), 1);
	}

	&__copy {
		margin-top: 1.88rem;
		a {
			display: block;
			color: var(--Light-Gray, #aeaeae);
			text-align: center;
			font-family: $font-family;
			@include adaptiv-value("font-size", toPX(1), toPX(0.875), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 146.3%;
			text-decoration: none;
		}
	}
}
.contacts {
	border-right: 1px solid rgba($color: #aeaeae, $alpha: 0.5);
	@include adaptiv-value("padding-right", toPX(3.75), toPX(0), 1);
	max-width: 45rem;
	width: 100%;
	&__title {
		color: var(--White, #fff);
		font-family: $font-family;
		@include adaptiv-value("font-size", toPX(2), toPX(1.375), 1);
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
		@include adaptiv-value("margin-bottom", toPX(1.88), toPX(1.88), 1);
	}
}
.file {
	cursor: pointer;
	&__label {
		color: var(--White, #fff);
		font-family: $font-family;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 0.625rem;
		opacity: 0.5;
		cursor: pointer;
	}
}
.links {
	display: flex;
	flex-direction: column;
	@include adaptiv-value("gap", toPX(3.75), toPX(1.25), 1);
	&__block {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("gap", toPX(1.31), toPX(1.25), 1);
		p {
			color: var(--Dark-Gray, #404141);
			font-family: $font-family;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: uppercase;
		}
		span,
		a {
			display: block;
			color: var(--White, #fff);
			font-family: $font-family;
			@include adaptiv-value("font-size", toPX(1.5), toPX(1.375), 1);
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 300;
			line-height: 122.8%;
			text-decoration: none;
		}
	}
}

.contacts {
	form {
		input[type="file"] {
			display: none;
		}
		display: flex;
		flex-direction: column;
		@include adaptiv-value("gap", toPX(1.25), toPX(1.25), 1);
		p {
			display: flex;
			flex-direction: column;
			gap: 0.66rem;

			span {
				color: var(--White, #fff);
				font-family: $font-family;
				font-size: 1rem;
				font-style: normal;
				font-weight: 600;
				line-height: 1.25rem;
				text-transform: none;
			}

			label {
				color: var(--White, #fff);
				font-family: $font-family;
				font-size: 0.875rem;
				font-style: normal;
				font-weight: 500;
				line-height: 0.875rem;
				letter-spacing: 0.025rem;
				text-transform: uppercase;

				display: flex;
				align-items: center;
				gap: 0.62rem;
			}

			input {
				color: var(--White, #fff);
				font-family: $font-family;
				font-size: 1rem;
				font-style: normal;
				font-weight: 400;
				line-height: 1.5rem; /* 150% */
				letter-spacing: -0.01806rem;
				padding: 1.06rem 1rem 1.19rem 1rem;
				border-radius: 1.25rem;
				border: 1px solid var(--Light-Gray, #aeaeae);
				transition: all 0.5s ease-in-out;

				&::placeholder {
					color: rgba($color: #fff, $alpha: 0.5);
					transition: all 0.5s ease-in-out;
				}
			}

			textarea {
				border-radius: 1.25rem;
				background: var(--Dark-Gray, #404141);
				color: var(--White, #fff);
				font-family: $font-family;
				font-size: 1rem;
				font-style: normal;
				font-weight: 400;
				line-height: 1.5rem; /* 150% */
				letter-spacing: -0.03219rem;
				min-height: 10.875rem;
				max-height: 10.875rem;
				padding: 1.05rem 1rem;

				&::placeholder {
					color: rgba($color: #fff, $alpha: 0.5);
					transition: all 0.5s ease-in-out;
				}
			}
		}

		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include adaptiv-value("gap", toPX(4.31), toPX(1.25), 1);

			p {
				color: var(--Light-Gray, #aeaeae);
				font-family: $font-family;
				font-size: 0.875rem;
				font-style: normal;
				font-weight: 400;
				line-height: 1.0625rem; /* 121.429% */
				letter-spacing: -0.02819rem;
			}

			input[type="submit"] {
				border-radius: 1.25rem;
				background: var(--White, #fff);
				padding: 1.25rem 1.875rem;
				width: 100%;
				cursor: pointer;
				@include adaptiv-value("font-size", toPX(1), toPX(1), 1);
				text-transform: capitalize;
				font-weight: 600;
				line-height: normal;
			}
		}
	}
}

@include media-width($md) {
	.footer {
		&__wrapper {
			flex-direction: column;
		}
		.contacts {
			border-right: none;
			border-bottom: 1px solid rgba($color: #aeaeae, $alpha: 0.5);
			padding-bottom: 1.25rem;

			div {
				flex-direction: column;
			}

			form {
				input {
					border: none;
					border-bottom: 1px solid rgba($color: #aeaeae, $alpha: 0.5);
					border-radius: 0;
					padding: 0.15rem 0.94rem;
				}

				label {
					display: none;
				}
			}
		}
	}
}
