.hero {
	position: relative;
	&__image {
		position: relative;
		width: 100%;
		height: 100%;
		max-width: 100%;

		&::after {
			content: "";
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;

			background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
			z-index: 1;
		}
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 6.28rem;
		margin: auto;
		z-index: 3;

		display: flex;
		align-items: flex-end;

		.container {
			display: flex;
			flex-direction: column;
			gap: 1.88rem;
			align-items: flex-start;
		}
	}

	&__title {
		color: var(--White, #fff);
	}

	&__text {
		color: var(--White, #fff);
		font-family: $font-family;
		@include adaptiv-value("font-size", toPX(2), toPX(1.375), 1);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__button {
		padding: 0.8125rem 1.875rem 0.8125rem 1.5625rem;
	}

	&__mobile {
		display: none;
	}
}

@include media-width(1250px) {
	.hero {
		&__image {
			overflow: hidden;
			min-height: 40rem;
			width: auto;
			margin-top: -5px;
			picture,
			img {
				width: auto;
				min-height: 40rem;
			}
		}
	}
}

@include media-width(700px) {
	.hero {
		&__mobile {
			display: flex !important;
		}
		&__image {
			position: relative;
			//height: 100%;
			min-height: 43.75rem;
			//max-width: 100%;
			overflow: hidden;
			height: 100%;
			display: flex;
			align-items: end;
			justify-content: center;
			picture,
			img {
				display: none;
				max-inline-size: none;
				max-block-size: none;
				max-width: 100%;
				height: 43.75rem;
			}
		}
	}
}
