.images {
	&__wrapper {
		display: flex;
		@include adaptiv-value("gap", toPX(1.75), toPX(1.25), 1);
	}

	&__item {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("gap", toPX(1.88), toPX(1.07), 1);
		transition: all 0.5s ease-in-out;

		&:nth-child(2n) {
			@include adaptiv-value("padding-top", toPX(6.25), toPX(3.13), 1);
		}
	}

	&__img {
		img {
			filter: grayscale(100%);
			transition: all 0.8s ease-in-out;
		}

		&:hover {
			cursor: pointer;
			img {
				filter: none;
				transition: all 0.8s ease-in-out;
			}
		}
	}
}

@include media-width($md, min) {
	.images {
		&__wrapper {
			justify-content: center;
		}
	}
}

@include media-width($md) {
	.images {
		&__wrapper {
			//overflow: hidden;
			gap: 0;
		}
		&__item {
			display: flex;
			flex-direction: column;
			@include adaptiv-value("gap", toPX(1.88), toPX(1.07), 1);
			transition: all 0.2s ease-in-out;
			padding: 0;

			&:nth-child(2n) {
				padding: 0;
			}
			&.swiper-slide-active {
				margin-top: 3.13rem;
				transition: all 0.2s ease-in-out;
			}
		}

		&__img {
			img {
				filter: none;
				transition: all 0.8s ease-in-out;
			}
		}
	}
}
